<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Make History</title>
	<link href="{{STATIC_URL}}semantic-ui/uncompressed/collections/menu.css" rel="stylesheet" type="text/css" >
  	<link href="{{STATIC_URL}}semantic-ui/uncompressed/elements/icon.css" rel="stylesheet" type="text/css" >    <link rel='stylesheet' href='{{STATIC_URL}}/css/style.css' media='screen' />
    <script src="{{STATIC_URL}}/jquery/jquery-1.7.1.min.js"></script>
    <script src="{{STATIC_URL}}/jquery/blocksit.min.js"></script>
    <link rel="shortcut icon" href="{{STATIC_URL}}/images/favicon.ico" />
    <link rel="canonical" href="http://www.inwebson.com/demo/blocksit-js/demo2/" />

    <script>
        $(document).ready(function() {

            //blocksit define
            $(window).load( function() {
                $('#container').BlocksIt({
                    numOfCol: 3,
                    offsetX: 8,
                    offsetY: 8
                });
            });

            //window resize
            var currentWidth = 1100;
            $(window).resize(function() {
                var winWidth = $(window).width();
                var conWidth;
                if(winWidth < 660) {
                    conWidth = 440;
                    col = 1
                } else if(winWidth < 880) {
                    conWidth = 660;
                    col = 2
                } else if(winWidth < 1100) {
                    conWidth = 880;
                    col = 3;
                } else {
                    conWidth = 1100;
                    col = 3;
                }

                if(conWidth != currentWidth) {
                    currentWidth = conWidth;
                    $('#container').width(conWidth);
                    $('#container').BlocksIt({
                        numOfCol: col,
                        offsetX: 8,
                        offsetY: 8
                    });
                }
            });
        });
    </script>
</head>

<body>



    <!-- Content -->
    <section id="wrapper">
        <hgroup>
            <h2>Make History - Tech Demo</h2>
            <h3>Passion will move men beyond themselves, beyond their shortcomings, beyond their failures.</h3>
        </hgroup>
        <div id="container">

            {% for opportunity in object_list %}
                <div class="grid">
                    <div class="imgholder">
                        <img src="{{ opportunity.image }}" />
                    </div>
                    <strong>{{ opportunity.title }}</strong>
                    <p>{{ opportunity.description }}</p>



                    {% if not opportunity.makers.all  %}
                        <div class="properties">
                            {% if opportunity.job_profile %}
                                <div class="property">
                                    <i class="large user icon"></i>{{ opportunity.job_profile }}
                                </div>
                            {% endif %}
                            {% if opportunity.skill_required %}
                                <div class="property">
                                    <i class="large briefcase icon"></i>{{ opportunity.skill_required }}
                                </div>
                            {% endif %}
                            {% if opportunity.job_estimate %}
                                <div class="property">
                                    <i class="large time icon"></i>{{ opportunity.job_estimate }}
                                </div>
                            {% endif %}
                            {% if opportunity.due_date %}
                                <div class="property">
                                    <i class="large calendar icon"></i>{{ opportunity.due_date }}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}



                    <div class="makers">
                           {% for maker in opportunity.makers.all %}
                                <div class="profile-photo" style="background: url('https://lh6.googleusercontent.com/-LMIcEDU_W5s/AAAAAAAAAAI/AAAAAAAAAAA/jLQzGxwCWmM/s96-c/photo.jpg');"></div>
                                <div class="profile-name">{{ maker.first_name }}&nbsp;{{ maker.last_name }}</div>
                           {% endfor %}
                    </div>


                    <!--
                    <div class="meta">by j osborn</div>
                    -->
                </div>
            {% endfor %}

        </div>
    </section>

</body>
</html>