* {
	padding: 0px;
	margin: 0px;
}

body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size:11px;
	line-height: 14px;
	margin:0px;
}

.content {
	padding-top: 70px;
	width: 962px;
	margin: 0 auto;
    border: solid 1px blue;
}


.box {
	-moz-border-radius:3px;
  	-khtml-border-radius: 3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
   	-moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
    -ms-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
    -o-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
	transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
  	-webkit-transition-property: left, right, top;
    -moz-transition-property: left, right, top;
    -ms-transition-property: left, right, top;
    -o-transition-property: left, right, top;
	transition-property: left, right, top;
}

.box-top {
    min-height: 100%;
}

.box-footer {
	position: absolute;
	width: 100%;
	height: 60px;
	bottom: 0;
    /* remove */
    border: solid 1px black;
    background-color: yellow;
}
			

.size11, .size12, .size13 { 
}
.size21, .size22, .size23 { 
}
.size31, .size32, .size33 {
}


.two-column-1 {
    float: left;
    width: 50%;
    padding-top: 5px;
    font-weight: bold;
}
.two-column-2 {
    margin-left: 50%;
    padding-top: 5px;
    font-weight: bold;
}






.clear {
    clear: both;
}
