body {
	margin:0;
	padding:0;
	background:url(../images/background/bg.gif) 0 0 repeat #f7f5f5;
	color:#333;
	font-family:Cambria, Georgia, serif;
	font-size:15px;
	overflow-x:hidden;
}

#header{
	width:100%;
	background:#000;
	background:rgba(0, 0, 0, 0.8);
	padding:5px 0;
	letter-spacing:1px;
	margin-bottom:20px;
	position:fixed;
	top:0;
	left:0;
	z-index:99;
}

#header h1{
	padding:0px 20px;
	margin:5px 0;
	text-shadow:2px 1px 1px #333, 2px 2px 1px #888;
	color:#EAEAEA;
	float:left;
	font-size:27px;
}

#header #authentication {
    float: right;
    padding-top: 3px;
    padding-right: 20px;
}

#footer{
	width:100%;
	position:fixed;
	padding-left:20px;
	bottom:0;
	left:0;
	line-height:20px;
	color:#888;
	font-size:13px;
	background:rgb(0, 0, 0);
	background:rgba(0, 0, 0, 0.8);
	z-index:99;
}

#footer span{
	display:block;
}

#content {
	margin-top:50px;
	width:100%;
}

a {
	color:#35BFFF;
	text-decoration:none;
}

a:hover, a:active{
	color:#91DCFF;
}

p {
}

.clearfix {
	clear:both;
}

.float_right {
    float: right;
}