<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Make History</title>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
	<link href="{{STATIC_URL}}css/style.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="{{STATIC_URL}}semantic-ui/uncompressed/collections/menu.css" rel="stylesheet" type="text/css" >
  	<link href="{{STATIC_URL}}semantic-ui/uncompressed/elements/icon.css" rel="stylesheet" type="text/css" >
	<script src="{{STATIC_URL}}jquery/jquery-1.7.1.min.js"></script>
	<script src="{{STATIC_URL}}jquery/jquery.nested.js"></script>
</head>
<body>



	<div class="ui fixed transparent inverted menu">
	  <a class="active item">
		<i class="globe icon"></i> Discover
	  </a>
	  <a class="item">
		<i class="mail icon"></i> Messages
	  </a>
	  <a class="item">
		<i class="users icon"></i> Members
	  </a>

	  <div class="right menu">
		<div class="ui dropdown item">
		  oswaldo.mauricio-neto@hp.com <i class="dropdown icon"></i>
		</div>
	  </div>

	</div>


	<div class="content">

        <div id="container">
          <div class="box size11">1</div>
          <div class="box size21">2</div>
          <div class="box size32">3</div>
          <div class="box size11">4</div>
          <div class="box size21">5</div>
          <div class="box size12">6</div>
          <div class="box size21">7</div>
          <div class="box size11">8</div>
          <div class="box size31">9</div>
          <div class="box size22">10</div>
          <div class="box size11">11</div>
          <div class="box size21">12</div>
          <div class="box size12">13</div>
          <div class="box size21">14</div>
          <div class="box size23">15</div>
          <div class="box size22">16</div>
          <div class="box size11">17</div>
          <div class="box size21">18</div>
          <div class="box size12">19</div>
          <div class="box size21">20</div>
          <div class="box size22">21</div>
          <div class="box size23">22</div>
          <div class="box size11">23</div>
          <div class="box size21">24</div>
          <div class="box size12">25</div>
          <div class="box size21">26</div>
          <div class="box size22">27</div>
          <div class="box size22">28</div>
        </div>

	</div>


    <script type="text/javascript">

      $(function() {

        $('#container').nested();

      });

    </script>

</body>
</html>